* {
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: #ffffff;
}
.logo {
    
    display: inline;
}
.nav-var {
    align-items: center;
}
.flex_container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
header .flex-container {
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
}
h1 {
    left: 200px;
    font-size: 64px;
}
.lineTrough {
    text-decoration: line-through;
}
.blueDot {
    color: #0000ec;
}
ul {
    text-align: right;
    display: block;
}

li {
    text-align: center;
    margin: 15px;
    display: inline-block;
}
.paragraph2 {
    text-align: right
    
    }
.container {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px; 
    align-items: center;
    
}
.spotify {
    display: flex;
    justify-content: space-between;
}
.padding {
    padding-top: 100px;
}
.fondo1 {
    background-color: blue;
    width: 100%;
}
.diagonal {
    position: relative;
    margin-top: 191px;
    width: 100%;
    clip-path: polygon(0 22%, 100% 0, 100% 79%, 0% 100%);
}
.iframes {
    width: 584px;
    height: 232px;
}
.phoneImg {
    float: left;
}
.div_invitadas{
    display: inline-block;
    align-items: center;
}
.h2_invitadas {
    box-sizing: border-box;
    display: inline-block;
}